repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: debug-statements
        - id: requirements-txt-fixer
        - id: check-json
        - id: check-yaml
        - id: check-ast
        - id: check-merge-conflict

    - repo: https://github.com/psf/black
      rev: 22.6.0
      hooks:
        - id: black
          language_version: python3

    - repo: https://github.com/asottile/add-trailing-comma
      rev: v2.2.3
      hooks:
        - id: add-trailing-comma
          args: [--py36-plus]

    - repo: https://github.com/asottile/pyupgrade
      rev: v2.37.3
      hooks:
        - id: pyupgrade
          args: [--py36-plus]

    - repo: https://github.com/pycqa/isort
      rev: 5.10.1
      hooks:
        - id: isort
          args: ["--profile", "black", "--filter-files"]
